* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    background: #212529;
    color: white;
    display: fixed;
}

.container {
    max-width: 1198px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    color: #FECC00;
}
.logo:hover {
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
}
li:hover {
    cursor: pointer;
    color: #FECC00;
}

.nav-hider {
    display: none !important;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0.5rem;
    background: #FECC00;
    color: white;
    border: none;
    border-radius: 3px;
}
.fas, .fa-bars {
    font-weight: 400;
}


@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        height: 45px;
    }
    .nav-hider {
        display: inline-block !important;
    }
    ul {
        flex-direction: column;

    }
}